<h1>Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  </li>
  <% end %>
</ul>
<br>
<%= link_to "Add a Restaurant", new_restaurant_path %>