<h1>Restaurants
  <%= link_to "Add a Restaurant", new_restaurant_path, class: "btn btn-primary" %>
</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="col-4">
      <li>
        <p><%= restaurant.name %></p>
      </li>
    </div>
    <div class="col-2">
      <p><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%></p>
    </div>
  </div>
  <% end %>
</ul>